@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

html {
    height:100%;

    body {
        height: 100%;
        margin: 0;
    }
}

